@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #007bff;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    margin: 19px;
    font-size:  50px;
    font-weight: 500;
}

header h1 i{
    padding: 10px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px 0px 35px 0px;
}

li{
    list-style-type: none;
}

section li a button{
    font-size:  1.8301610541727673vw;
    font-weight: 500;
    color: #007bff;
    padding: 1.0980966325036603vw 2.1961932650073206vw;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    margin: 10px;
}

section li a button:hover{
    box-shadow: 0px 10px 5px 1px rgba(0,0,0,0.1);
    
}
